<section class="features-icons bg-light text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-file-image m-auto text-primary"></i></div>
                  <h3>Firt Hotel</h3>
                  <p class="lead mb-0">Hotel with 5 stars</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-file-image m-auto text-primary"></i></div>
                  <h3>Second Hotel</h3>
                  <p class="lead mb-0">Paraise hotel where you can be in confortable place</p>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-file-image m-auto text-primary"></i></div>
                  <h3>Third Hotel</h3>
                  <p class="lead mb-0">Hotel around the beach very good place to take rest</p>
              </div>
          </div>
      </div>
  </div>
</section>